{% extends "admin/change_list.html" %}
{% load add_preserved_filters from admin_urls %}

{% block extrahead %}
{{ block.super }}
{{ adminchart_chartjs_config|json_script:"adminchart-chartjs-config" }}
{% endblock %}

{% block pretitle %}
{{ block.super }}
<div id="admincharts"></div>
<div>
  <ul><h1>Rentang Nilai</h1>
    <li>4,5 - 5 : Sangat Memuaskan</li>
    <li>3,5 - 4,4 : Memuaskan</li>
    <li>3 - 3,4 : Cukup Memuaskan</li>
    <li>2,5 - 2,9 : Kurang Memuaskan</li>
    <li>0 - 2,4 : Tidak Memuaskan</li>
  </ul>
</div>
{% endblock %}

{% block content_title %}<h1>Daftar Survey Kepuasan Masyarakat</h1>{% endblock %}

{% block object-tools-items %}
  <a href="#" onclick="export_pdf(this)" class="button">
    Laporan
  </a>
  <script>
    function export_pdf(ini) {
      dari = document.getElementById('id_created_at__range__gte_0').value
      ke = document.getElementById('id_created_at__range__lte_0').value
      url = "{% url 'survey-laporan-export-pdf' %}"
      if (dari != "" && ke != "") {
        url += "?dari=" + dari + "&ke=" + ke
      }
      fetch(url)
        .then(res => res.blob())
        .then(blob => {
          var file = window.URL.createObjectURL(blob);
          // window.location.assign(file);
          window.open(file);
        });
    }
  </script>
  {% for tool in objectactions %}
    <li class="objectaction-item" data-tool-name="{{ tool.name }}">
      {% url tools_view_name tool=tool.name as action_url %}
      <a href="{% add_preserved_filters action_url %}" title="{{ tool.standard_attrs.title }}"
         {% for k, v in tool.custom_attrs.items %}
           {{ k }}="{{ v }}"
         {% endfor %}
         class="{{ tool.standard_attrs.class }}">
      {{ tool.label|capfirst }}
      </a>
    </li>
  {% endfor %}
  {{ block.super }}
{% endblock %}